# Workflow derived from https://github.com/r-lib/actions/tree/master/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
  schedule:
    - cron: "0 0 * * 1"

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: macOS-latest,   python: '3.x', r: 'release'}
          - {os: windows-latest, python: '3.x', r: 'release'}
          - {os: ubuntu-latest,  python: '3.x', r: 'devel', http-user-agent: 'release'}
          - {os: ubuntu-latest,  python: '3.x', r: 'release'}
          - {os: ubuntu-latest,  python: '3.8', r: 'oldrel-1'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-pandoc@v1

      - uses: r-lib/actions/setup-r@v1
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.config.python }}

      - uses: r-lib/actions/setup-r-dependencies@v1
        with:
          extra-packages: rcmdcheck

      - name: Install Python dependencies
        run: |
          reticulate::install_miniconda()
          reticulate::py_install(c("anndata", "scanpy"), pip = TRUE)
        shell: Rscript {0}

      - uses: r-lib/actions/check-r-package@v1
